@keyframes text-entrance {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes top-entrance {
  0% {
    transform: translateY(-6rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes wave {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
