@import url('https://fonts.googleapis.com/css?family=Open+Sans:500|Caveat:400,700|Playfair+Display:700&display=swap');

@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import './variables.css';
@import './loader.css';
@import './typography.css';
@import './nav.css';
@import './products.css';
@import './animation.css';

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-pink-100);
  color: var(--color-black);
  padding: 0;
  margin: 0;
  padding-bottom: 3rem;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: var(--color-yellow);
}
::selection {
  background: var(--color-yellow);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color-black);
  text-decoration: underline;
}

img {
  display: block;
}

header {
  overflow: hidden;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--color-black);
  padding: 5rem 3rem 0;
  background: var(--color-pink-300);
}

.hero__body {
  z-index: 99;
  padding-right: 8rem;
  margin-left: -8rem;
}

.hero__image {
  z-index: 9;
  width: 100%;
}

.hero__image img {
  width: 100%;
}

.hero__title {
  display: block;
  color: var(--color-black);
  margin: 1rem 0 2rem;
}

.hero__text {
  color: var(--color-gray-5a);
  padding-left: 1rem;
}

.sample-products-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link-button {
  margin: 4rem auto 1rem;
  display: block;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--color-gray-94);
  color: var(--color-black);
  border-radius: 5rem;
  padding: 1rem 5rem;
  font-size: 1.6rem;
  background: var(--color-white);
  transition: all 0.5s ease-in-out;
}

.link-button:hover {
  text-decoration: none;
  color: var(--color-black);
  transform: translateY(-5px);
  box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.08);
}

.wave {
  margin-top: -5rem;
  z-index: -9;
  fill: var(--color-pink-300);
  animation: wave 25s ease infinite;
}

.content {
  margin-top: -15rem;
  position: relative;
  padding: 3rem;
}

.section__title {
  margin: 4rem 0;
  position: relative;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-align: center;
}

.section__title:before {
  content: '';
  position: absolute;
  top: 50%;
  width: 8rem;
  height: 1rem;
  z-index: -9;
  background-color: var(--color-yellow);
}

.credits {
  padding: 3rem;
  font-family: 'Caveat', cursive;
  font-size: 1.6rem;
  font-weight: 700;
  color: #9ea7c5;
}

.credits a {
  color: var(--color-yellow);
}

/* ===============
  = responsive =
=============== */

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .hero__body {
    margin-left: -4rem;
    padding-right: 4rem;
  }
}

@media (max-width: 576px) {
  .hero__body {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .hero__image {
    display: none;
  }

  .content {
    margin-top: -10rem;
  }
}
