nav {
  height: 6rem;
  background: var(--color-pink-500);
  padding: 1rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a,
nav a:hover {
  color: var(--color-black);
  text-decoration: none;
}

nav h1 {
  font-size: 1.8rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

nav ul a {
  color: var(--color-black);
  font-size: 1.4rem;
  padding: 0 1rem;
}

nav ul a.selected {
  position: relative;
}

nav ul a.selected:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-black);
}

@media (max-width: 576px) {
  nav {
    padding: 1rem 5rem;
  }
}
