.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4.5rem;
  grid-row-gap: 4.5rem;
}

.product {
  background: #fff;
  color: var(--color-black);
  border: 1px solid #eee;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 15px 1px rgba(0, 0, 0, 0.08);
}

.product__body {
  padding: 1.5rem 2rem;
}

.product__name {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2.4rem;
}

.product__description {
  font-size: 1.6rem;
  color: var(--color-gray-5a);
}

.product__img {
  object-fit: cover;
  height: 30rem;
  width: 100%;
  object-position: 50% 50%;
  object-position: 0 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* ===============
  = responsive =
=============== */

@media (max-width: 992px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;
  }
}

@media (max-width: 576px) {
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;
  }
}
