:root {
  --color-pink-100: #fefaf9;
  --color-pink-300: #fff1ee;
  --color-pink-500: #ffddd6;
  --color-black: #2d2d2d;
  --color-white: #fff;
  --color-gray-5a: #5a5756;
  --color-yellow: #ffc600;
}
