:root {
  --color-pink-100: #fefaf9;
  --color-pink-300: #fff1ee;
  --color-pink-500: #ffddd6;
  --color-pink-700: #ffccc2;
  --color-pink-900: #c4796a;
  --color-black: #2d2d2d;
  --color-white: #fff;
  --color-gray-5a: #5a5756;
  --color-gray-94: #949494;
  --color-gray-b3: #b3b3b3;
  --color-gray-ee: #eee;
  --color-yellow: #ffc254;
}
